django>=5.2.8
djangorestframework>=3.16.1
django-cors-headers>=4.9.0
channels>=4.0.0
channels-redis>=4.0.0
djangorestframework-simplejwt>=2.8.0
daphne>=4.0.0
websockets>=11.0.3
# API docs / schema
drf-spectacular>=0.26.0

# Static files
whitenoise>=6.4.0

# Optional / convenient
python-dotenv>=1.0.0
# dev / optional
pytest
pytest-django
coverage
